<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Работники</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="templates/static/style.css">
</head>
<body>
{% import 'db_result.html' as db_res %}
<div class="screen-1">
    <center>
        <h2>Параметры поиска:</h2>
        <form action="" method="POST">

            <div class="input-container">
                  <label for="plate">Имя:</label>
                <input type="text" name="work_name" model="work_name" , value={{ plate }}>
            </div>

            <div class="input-container">
                  <label for="carmod">Должность:</label>
                <input type="text" name="work_post" model="work_post"  , value={{ car_mod }}>
            </div>
            <br>
            <input type="submit" value="Поиск!">
        </form>
    </center>
    <div>
        {{db_res.db_result(schema, result)}}
    </div>
      <br>
    <div align="center">
            <a href="{{ url_for('menu_choice') }}">Возврат в меню</a>
        </div>
    <br>
</div>
</body>
</html>
