{% extends 'base.html' %}

{% block manager %}
<h1 align="center"> Здравствуйте, дорогой водитель! </h1>
<p align="center">
    <a href="{{ url_for('bp_query.new_d_orders') }}">Новые заказы</a><br><br>
    <a href="{{ url_for('bp_query.curr_d_orders') }}">Текущие заказы</a><br><br>
    <a href="{{ url_for('bp_query.autopark') }}">Автопарк</a><br><br>
    <a href="{{ url_for('bp_query.show_int_profile') }}">Профиль</a><br><br>
    <a href="/exit"> Нажмите для выхода из системы</a>
</p>
{% endblock %}
</html>