{% extends 'base.html' %}

{% block external_user %}
<div class="card">
    <div class="header">
        <center>
            <h3>Вам доступны следующие действия:</h3>
        </center>
    </div>
    <div class="body">
        <ul>
            <a href="{{ url_for('bp_orders.create_order') }}">
                <li>
                    <ion-icon name="add-outline" class="ion-1x"></ion-icon>
                    Создать заказ
                </li>
            </a>
            <a href="{{ url_for('bp_query.queries') }}">
                <li>
                    <ion-icon name="file-tray-full-outline" class="ion-1x"></ion-icon>
                    История заказов
                </li>
            </a>
            <a href="/exit">
                <li>
                    <ion-icon name="log-out-outline" class="ion-1x"></ion-icon>
                    Выход
                </li>
            </a>
            <li>  <center><h3>
            <ion-icon name="navigate-outline"></ion-icon>
           <span id="user-city"></span></h3>
        </center></li>
        </ul>
    </div>
</div>
{% endblock %}
