{% extends 'base.html' %}

{% block manager %}

<div class="card">
    <div class="header">
        <center>
            <h3>Вам доступны следующие действия:</h3>
        </center>
    </div>
    <div class="body">
        <ul>
            <a href="{{ url_for('bp_query.order_history') }}">
                <li>
                    <ion-icon name="file-tray-full-outline" class="ion-1x"></ion-icon>
                    Все заказы
                </li>
            </a>
            <a href="{{ url_for('bp_query.workers') }}">
                <li>
                    <ion-icon name="briefcase-outline" class="ion-1x"></ion-icon>
                    Сотрудники
                </li>
            </a>
            <a href="{{ url_for('bp_report.start_report') }}">
                <li>
                    <ion-icon name="wallet-outline" class="ion-1x"></ion-icon>
                    Отчёты
                </li>
            </a>
            <a href="/exit">
                <li>
                    <ion-icon name="log-out-outline" class="ion-1x"></ion-icon>
                    Выход
                </li>
            </a>
        </ul>
    </div>
</div>
{% endblock %}